/*Overskrive standar CSS*/
button {
  border: none;
}


/*Fargerike ord*/

.bg-green {
  background-color: green;
}

.text-green {
  color: green;
}

/*Ord for størrelse*/
.text-large {
  font-size: large;
}

.padding-medium {
  padding: 1rem;
}

.rounded {
  border-radius: 12px;
}

/*Ord for form*/
.raised {
  box-shadow: 1px 1px 8px 4px rgb(0, 0, 0, 0, 4) inset: 1px 4px 1px rgba(red, green, blue, alpha);
}